<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Video</title>
    <link rel="stylesheet" href="/font/Rubik/rubik.css">
    <link rel="stylesheet" href="/css/template.css">
</head>
<body>
    <h2>Youtube Video</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus nisi facere, expedita ipsum assumenda iusto cum odio repellendus veniam quidem ullam sed, perferendis, nulla cumque temporibus quaerat architecto. Error, fugit.</p>
</body>
</html>